@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }


    /* Header */

    .menu-togle {
        display: none;
    }


    .header-logo {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-navigation-list {
        display: flex;
        margin-left: 120px;
        padding-inline-start: 0px;
    }

    .header-navigation-item:not(:last-child) {
        margin-right: 40px;

    }

    .header-navigation-link {
        line-height: 1.33;
        transition: color 250ms var(--timing-function);
    }


    .header-address-list {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        margin-bottom: 9px;
    }


    .header-address-link {
        color: var(--text-color);
        line-height: 1.33;
        display: block;
        transition: color 250ms var(--timing-function);
        margin-bottom: 4px;
    
    }


    .header-nav {
        display: flex;
        align-items: center;
    }

    .current::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -9px;
        background: var(--hover-color);
        border-radius: 2px;
    }

        /* Hero section */

        .hero-section {
            background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-tablet.jpg');
            max-width: 100%;
            padding-bottom: 108px;
        }
    
        .hero-title {
            margin-bottom: 40px;
            font-size: 56px;
            line-height: 1.07;
            max-width: 496px;
        }
    
    
        /* Всплывающая форма в Hero */
    
        .modal {
            /* position: absolute; */
            top: 10px;
            left: 10px;
            transform: scale(1) translate(-50%, -50%);
    
            width: 392px;
            height: 586px;
            background-color: #FCFCFC;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
    
            transition: transform 250ms var(--timing-function);
        }
    
    
        .button-close {
            display: flex;
            margin-top: 24px;
            margin-right: 24px;
            margin-left: auto;
            width: 24px;
            height: 24px;
            background: #E7E9FC;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            fill: #000;
    
        }
    
        .button-close:hover,
        .button-close:focus {
            background-color: var(--hover-color);
            fill: var(--main-white-color);
        }
    
    
        form {
            width: 360px;
            margin-left: auto;
            margin-right: auto;
    
        }
    
        .form-title {
            margin-top: 72px;
            margin-bottom: 16px;
    
            font-weight: 500;
            line-height: 1.5;
            text-align: center;
        }
    
        .form-field {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 8px;
    
            color: #8E8F99;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.04em;
        }
    
        .form-input {
            margin-top: 4px;
            padding-left: 38px;
            height: 40px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
    
            transition: border-color 250ms var(--timing-function);
        }
    
        .form-input:focus+.form-input,
        .textarea-input:focus+.form-input {
            border-color: #4D5AE5;
        }
    
        .textarea-input {
            margin-top: 4px;
            ;
        }
    
    
        textarea {
            display: block;
            resize: none;
            margin-bottom: 16px;
            padding-left: 16px;
            padding-top: 8px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
        }
    
        .form-field textarea::placeholder {
            padding: 0;
            color: rgba(117, 117, 117, 0.5);
            font-size: 12px;
        }
    
        .checkbox {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    
        .checkbox-label {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
    
        }
    
        .checkbox-label a {
            text-decoration: underline;
            color: var(--accent-color);
        }
    
        .check-icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
    
            border: 1.25px solid #2E2F42;
            border-radius: 2px;
        }
    
        .checkbox:checked+.check-icon {
            border-color: transparent;
            background-color: var(--hover-color);
            background-image: url(../images/icon-check.svg);
            background-size: contain;
            background-origin: border-box;
        }
    
        .form-button {
            padding: 16px 66px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 24px;
            margin-top: 24px;
    
            background: var(--accent-color);
            color: #FFFFFF;
            font-family: inherit;
            font-style: inherit;
            font-size: inherit;
            font-weight: 500;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border-color: var(--accent-color);
            border-width: 0;
            line-height: 1.5;
            display: flex;
            align-items: center;
            letter-spacing: 0.04em;
            cursor: pointer;
    
            transition: background 250ms var(--timing-function);
        }
    
        .form-button:hover,
        .form-button:focus {
            background: var(--hover-color);
        }
    
        .form-icon {
            position: absolute;
            top: 29px;
            left: 16px;
    
            display: inline-block;
        }
    
        .form-input:focus,
        .textarea-input:focus {
            outline: none;
            border-color: #4D5AE5;
        }
    
        .form-input:focus~.form-icon {
            fill: var(--hover-color);
        }


                /* Our adventages */
        
                .adventages-section {
                    padding-top: 96px;
                    padding-bottom: 96px;
                }
        
                .adventages-list {
                    gap: 24px;
                    justify-content: center;
                }
        
                .adventages-item {
                    flex-basis: 356px;
                    margin-left: 0px;
                }

                .adventages-item:nth-child(even) {
                    margin-right: 0;
                }
                
                .adventages-item:nth-last-child(n + 2) {
                margin-bottom: 48px;
                }

                .adventages-item:nth-last-child(-n + 2) {
                    margin-bottom: 0;
                    }
        
                .adventage-subtitle {
                    text-align: left;
                }

                
/* Our team */

.section-team {
    padding-bottom: 104px;
}

.team-list {
    gap: 0;
}

.team-item:nth-child(even) {
    margin-right: 0;
}

.team-item:nth-child(odd) {
    margin-right: 24px;
}

.team-item:nth-last-child(n + 2) {
    margin-bottom: 64px;
}

.team-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
}

/* Customers */

.customers-section {
    padding-bottom: 48px;
}

.customers-list {
    margin-right: 0;
    margin-left: 0;
    gap: 24px;
}

.customers-item {
    width: calc((100% - 48px) / 3);
    margin-right: 0;
    margin-bottom: 48px;
}

/* .customers-item:nth-child(odd) {
    margin-right: 16px;
} */

/* .customers-item:nth-child(3n) {
    /* margin-right: 0; */
    margin-bottom: 48px;
} */

.customers-item:nth-last-child(-3n) {
    margin-bottom: 0;
}



/* Footer */

.footer-content {
    display: flex;
    margin-left: 108;
    
}

.footer-left {
    margin-right: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding-left: 0;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 72px;
}

.footer-title-social-media {
    text-align: left;
} 


/* Footer form */


.footer-form {
    flex-direction: row;
    width: 453px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 16px;

}

.footer-form input {
    width: 264px;
    height: 40px;
    margin-right: 24px;
    margin-bottom: 16px;
    padding-left: 16px;
    background-color: transparent;
    color: var(--main-white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

}



}